@import "tailwindcss";

@theme {
  --color-arena-creme: #EAE4D3;
  --color-arena-dark: #1A1A1A;
  --color-arena-black: #000000;
}

@layer base {
  body {
    background-color: black;
    color: #EAE4D3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a {
  text-decoration: none;
}